<md-content layout-padding>
    <div>
        <form name="searchForm" ng-submit="search()">
            <div layout-gt-xs="row">
                <md-input-container class="md-block" flex-gt-xs>
                    <label>Name</label>
                    <input type="text" ng-model="filter.Name">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-xs>
                    <label>Gender</label>
                    <md-select ng-model="filter.Gender">
                        <md-option value="" selected>
                            Select
                        </md-option>
                        <md-option ng-repeat="gender in genders" value="{{gender}}">
                            {{gender}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>City</label>
                    <md-select ng-change="updateRegions(filter.CityId)" ng-model="filter.CityId">
                        <md-option value="" selected>
                            Select
                        </md-option>
                        <md-option ng-repeat="city in cities" value="{{city.CityId}}">
                            {{city.CityName}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Region</label>
                    <md-select ng-model="filter.RegionId">
                        <md-option value="" selected>
                            Select
                        </md-option>
                        <md-option ng-repeat="region in regions" value="{{region.RegionId}}">
                            {{region.RegionName}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div layout-gt-sm="row">
                <md-datepicker name="lastPurchase" ng-model="filter.LastPurchaseField" md-placeholder="Last Purhase"></md-datepicker>
                <div class="validation-messages" ng-messages="searchForm.lastPurchase.$error">
                    <div ng-message="valid">The entered value is not a date!</div>
                </div>
                <md-datepicker name="until" ng-model="filter.UntilField" md-placeholder="Until"></md-datepicker>
                <div class="validation-messages" ng-messages="searchForm.until.$error">
                    <div ng-message="valid">The entered value is not a date!</div>
                </div>
            </div>
            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Classification</label>
                    <md-select ng-model="filter.ClassificationId">
                        <md-option value="" selected>
                            Select
                        </md-option>
                        <md-option ng-repeat="classification in classifications" value="{{classification.ClassificationId}}">
                            {{classification.ClassificationName}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Sender</label>
                    <md-select ng-model="filter.UserId">
                        <md-option value="" selected>
                            Select
                        </md-option>
                        <md-option ng-repeat="user in users" value="{{user.UserId}}">
                            {{user.Name}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>

            <input type="submit" value="Search" />
            <button ng-click="clear()">Clear</button>
        </form>
    </div>
</md-content>

<!--result-->
<md-content layout-padding>
    <div>
        <table ng-table="tableParams" class="table" show-filter="true">
            <tr ng-repeat="customer in $data">
                <td title="'Classification'" sortable="'Classification.ClassificationName'">
                    {{customer.Classification.ClassificationName}}
                </td>
                <td title="'Name'" sortable="'Name'">
                    {{customer.Name}}
                </td>
                <td title="'Phone'" sortable="'Phone'">
                    {{customer.Phone}}
                </td>
                <td title="'Gender'" sortable="'Gender'">
                    {{customer.Gender}}
                </td>
                <td title="'City'" sortable="'Region.City.CityName'">
                    {{customer.Region.City.CityName}}
                </td>
                <td title="'Region'" sortable="'Region.RegionName'">
                    {{customer.Region.RegionName}}
                </td>
                <td title="'Last Purchase'" sortable="'LastPurchase'">
                    {{customer.LastPurchase | date:'dd/MM/yyyy'}}
                </td>
                <!--<td title="'Seller'" filter="{ Phone: 'number'}" sortable="'Phone'">
                    {{customer.Phone}}
                </td>-->
            </tr>
        </table>
    </div>
</md-content>